.container {
    height: 500px;
}

.title{
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.sub_title{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

.documents::-webkit-scrollbar{
    display: none;
}
.documents {
    display: flex;
    height: 110px;
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
    /* justify-content: center; */
}

.documents > p {
  
    margin: auto auto ;
    font-size: 20px;
    color: var(--thirdColor);
}


.container > input {
    display: none;
}

.details{
    margin-top: 15px;
}

.input_file{
    display: block;
    margin-top: 10px;
    width: fit-content;
    color: var(--secondColor);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    transition: transform 150ms ease-in;
    margin-right: 15px;
}

.inputs_1{
    display: flex;
    
}

.input_file:hover{
    transform: translateY(-2px);
}

.title_input{
    outline: none;
    border: 2px solid #c4c4c4;
    height: 33px;
    width: 220px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 7px;

}

.text_area{
    outline: none;
    resize: none;
    border-radius: 5px;
    border:  2px solid #c4c4c4;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 15px;
    width: 95%;
    height: 140px;
    font-size:16px;
}

.error_message{
    margin: 0;
    margin-left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: rgb(250, 121, 16);
}

.buttons_container{
    margin: 20px auto 0px auto;
    width: fit-content;
}

.buttons_container button{
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: var(--primaryColor);
    transition: transform 250ms ease-in ;
}


.buttons_container button:hover{
    transform: translateY(-2px);
}









/* -------------------------------File Container--------------------------------------------- */


.file_container{
    position: relative;
    margin: 5px;
    height: 100px;
    min-width: 200px;
}

.file_container p {
    width: 150px;
    margin: 15px auto ;
    text-overflow: ellipsis;
    text-align: center;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
    
}

.file_container img:first-child{
    width: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: transform 250ms ease-in;

}

.file_container img:first-child:hover{
    transform: scale(1.1);
}

.file_img{
    margin: auto;
    margin-top: 15px;
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer;

}

.separateur{
    height: 100px;
    width: 4px;
    background-color: lightgray;
}