:root{
    --background:white;
    --primaryColor:#1EC5CC;
    --secondColor: #FD556E;
    --primaryColorLowOpacity:rgb(124, 200, 203,0.6);
    --thirdColor:#A89E9E;
    --titleColor: #605D5D;
}

*{
    scroll-behavior: smooth;
}


.selected_Connexion{
    transform: translate(0px);
}
.selected_Inscription{
    transform: translate(104px);    
}

.signin_login-anime{
    opacity: 1;
    transform: translate(0px);
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

.Authentication{ 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}

.main{
    display: flex;
    margin: 75px auto;
    margin-bottom: 15px;
    width: 65%;
    min-width: 700px;
    height: 450px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 3px 5px 10px rgba(148, 148, 148, 0.5);
    
}

.container_img{
    flex: 0.45;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: url(../../Assests/Svg/Loign.svg);
    background-size: cover;

    
}
.container_content{
    flex: 0.55;
    display: flex;
    flex-direction: column;
    

}

.header_container{
    flex:0.5;
    display: flex;
    justify-content:start;
    margin-left: 45px;  
    
   
}

.form_container{
    flex:9;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer_container{
    flex: 0.5;
}

.title_options{
    position: relative; 
    display: flex;
    justify-content: center;
    width: fit-content;
    color: var(--thirdColor);
    
     
}

.title_options p:nth-child(1){
    margin-right: 30px;
}

.selected_bar{
    position: absolute;
    width: 90px;
    height: 3px;
    bottom: 8px;
    left: -3px;
    background-color: var(--primaryColor);
    box-shadow: 3px 3px 7px lightgray;
    border-radius: 15px;
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: ease;
}

.title_options p{
    width: 75px;
    font-size: 18px;
    cursor: pointer;
    
}

.selected_title{
    color :var(--primaryColor);
    transition-timing-function: ease-out;
    transition-duration: 350ms;
}



.footer_container p{
    font-family: sans-serif;
    color:var(--thirdColor);
    font-size: 10px;
    text-align: center;
    line-height: 0;
    user-select: all;
}


@media screen and (max-width: 741px){
    .container_img{
        display: none;
    }
    .container_content{
        flex: 1;
    }

    .main{
        width: 95%;
        min-width: 350px;
    }
}



