.signin_login_inscription{
    opacity: 0.7;
    transform: translate(-10px); 
}
.signin_login_connexion{
    opacity: 0.7;
    transform: translate(+10px); 
}

.signin_login_anime{
    opacity: 1;
    transform: translate(0px);
    transition-duration: 450ms;
    transition-timing-function: ease-in;
}


.input_container{
    width: 100%; 
}
 


.input_more{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    align-items: center;
    margin-top: 20px;
    padding: 0px 0px;
}


.forgot_password{
    margin-top: 5px;
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 13px;
    font-weight: bold;
    
}


.input_password_container{
    display: flex;
}


.input_container input:focus{
    outline: none;
    border: 2px solid var(--primaryColorLowOpacity);
   
}

.button_input{
    margin: 40px auto;
    margin-bottom: 20px;
    display: block;
    border: none;
    border-radius:7px;
    box-shadow: 1px 3px 7px lightgray ;
    width: 50%;
    height: 35px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: var(--primaryColor);   
    transition: ease-in-out;
    transition-duration: 300ms;
    transition-property: opacity;
}

.button_input:hover{
    opacity: 0.8;
}
.button_input:focus{
    outline: none;
}

.goto_Login{
    text-align: center;
    font-size: 13px;
    color:var(--thirdColor);
}
.goto_Login span{
    color: var(--primaryColor);
    font-weight: bold;
    cursor: pointer;
}


@media screen and (max-width: 741px){
    .input_more{
        display: block;
        text-align: center;
    }
    
    .input_password_container .input_container_login input{
        width: 80%;
    }
}

@media screen and (max-width:1240px) {
    .input_password_container .input_container_login input{
        /* width: 60%; */
    }

    .input_password_container .input_container_login{
        width: 140px;
        
    }
}







