

.signin-login-inscription{
    opacity: 0.4;
    transform: translate(-25px); 
}
.signin-login-connexion{
    opacity: 0.4;
    transform: translate(+25px); 
}


.input-container{
    width: 70%;
    margin: 5px auto;   
}

.simple-message{
    color :var(--thirdColor);
}
.warning-message{
    color:rgb(250, 169, 19)
}
.error-message{
    color: red;
}



.input-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0px 0px;
}


.forgot-password{
    margin-top: 5px;
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 13px;
    font-weight: bold;
    
}

.input-container input{
    outline: none;
    height: 35px;
    width: 95%;
    border: 2px solid white;
    border-radius:7px;
    background-color: #F5F5F5;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-property: border;
    font-size: 15px;
    padding-left: 11px;
    
    
    
}

.input-password-container{
    display: flex;
    margin: 5px auto ;
    width: 70%;
    justify-content: space-between;
}

.input-password-container .input-container-login{
    width: 180px;
    margin: 0;
}
.input-password-container .input-container-login input{
    width: 90%;
}
.input-container p{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 12px;
    /* visibility: hidden; */
    
}

.input-container input:focus{
    outline: none;
    border: 2px solid var(--primaryColorLowOpacity);
   
}

.button-input{
    margin: 40px auto;
    margin-bottom: 20px;
    display: block;
    border: none;
    border-radius:7px;
    box-shadow: 1px 3px 7px lightgray ;
    width: 50%;
    height: 35px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: var(--primaryColor);   
    transition: ease-in-out;
    transition-duration: 300ms;
    transition-property: opacity;
}

.button-input:hover{
    opacity: 0.8;
}
.button-input:focus{
    outline: none;
}

.goto-Login{
    text-align: center;
    font-size: 13px;
    color:var(--thirdColor);
}
.goto-Login span{
    color: var(--primaryColor);
    font-weight: bold;
    cursor: pointer;
}


@media screen and (max-width: 741px){
    .input-more{
        display: block;
        text-align: center;
    }
    
    .input-password-container .input-container-login input{
        width: 80%;
    }
}

@media screen and (max-width:1240px) {
    .input-password-container .input-container-login input{
        /* width: 60%; */
    }

    .input-password-container .input-container-login{
        width: 140px;
        
    }
}







