.modal{
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    top: 0;
    transition: all 100ms ease-in; 
    overflow-y: scroll;
}

.animate_back{
    background-color: rgba(0, 0, 0, 0.8);
}



.modal_container {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-width: 300px;
    background-color:  white;
    margin: 50px auto;
    border-radius: 7px;
    padding: 10px 15px;
    transform: scale(0.7);
    transition: transform 200ms ease-out;
    user-select: none;
}

.animate {
    transform: scale(1);
}

.inputs_container{
    flex: 9;
}

.inputs_container > div {
    display: flex;
}

.inputs_container div:nth-child(3){
    width: 50%;
}

.inputs_container div:nth-child(5){
    width: 20%;
}


.input{
    flex: 1;
    margin: 5px;
}

.modal_header{
    flex: 0.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.modal_header img {
    position:absolute;
    right: 0;
    height: 20px;
    transition: transform 250ms ease-out;
    cursor: pointer;
}

.modal_header p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}


.modal_container img:hover{
    transform: scale(1.1);
}


.btn_container{
    flex: 0.5;
    display: flex;
    align-self: flex-end;
    margin-top: 15px;
}

.btn_container button {
    background-color: inherit;
    border: none;
    margin-right: 10px;
    color: var(--secondColor);
    font-size: 15px;
    cursor: pointer;
    transition: transform 200ms ease;
    font-weight: bold;
}

.btn_container button:hover {
    transform: translateY(-1px);

}

