.reset_password{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;   
    background-color:var(--background);
    overflow: auto;
}

.container {
    display: flex;
    width: 600px;
    min-width: 500px;
    height: 350px;
    margin: 75px auto;
    margin-bottom: 15px;
    padding: 7px 15px;
    background-color: white;
    box-shadow: 1px 5px 20px lightgray;
    border-radius: 7px;
}

.inputs_container{

    flex: 0.6;
}

.container_img{
    display: flex;
    flex: 0.4;
    justify-content: space-around;
    align-items: center;
}

.container_img img {
    width: 125px;
    height: 125px;
    margin-right: 20px;
}

.container p {
    text-align: center;
    font-weight: bolder;
    font-size: 17px;
}




.button_input{
    margin: 40px auto;
    margin-bottom: 20px;
    display: block;
    border: none;
    border-radius:7px;
    box-shadow: 1px 3px 7px lightgray ;
    width: 50%;
    height: 35px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: var(--primaryColor);   
    transition: ease-in-out;
    transition-duration: 300ms;
    transition-property: opacity;
}

.button_input:hover{
    opacity: 0.8;
}
.button_input:focus{
    outline: none;
}


