.reset_password{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;   
    background-color:var(--background);
    overflow: auto;
}

.container {
    display: flex;
    width: 600px;
    min-width: 500px;
    height: 350px;
    margin: 130px auto;
    padding: 7px 15px;
    background-color: white;
    box-shadow: 1px 5px 20px lightgray;
    border-radius: 7px;
}

.inputs_container{
    flex: 0.7;
}

.container_img{
    display: flex;
    flex: 0.3;
    justify-content: space-around;
    align-items: center;
}

.container_img img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.separation{
    height: 80%;
    margin-left: 5px;
    width: 2px;
    background-color: lightgray;   
}

.container input {
    outline:none;
    border: 2px solid white;
    background-color: #F5F5F5;
    height: 35px;
    padding-left: 11px;
    border-radius: 5px;
    margin: 15px;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-property: border;
    font-size: 15px;
}
.container input:focus {
    outline:none;
    border-color: var(--primaryColorLowOpacity);
}


