.home_article{
    display: flex;
    height: 400px;
}

.container_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.5;
    margin-top: 100px;
}

.container_info p {
    font-size: 36px;
}

.container_image{
    flex: 0.5;
    
}

.container_image img {
    height: 400px;
    margin-left: 130px;
}


.corona_article{
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.container_icon img{
    width: 50px;
}

.container_details{
    line-height: 30px;
    margin-left: 25px;
}

.container_details a{
    text-decoration: none;
    color: var(--secondColor);
}

.container_details span{
    font-weight: bold;
}



.container_button{
    display:flex;
    align-self: center;
  }
  
  .button{
    opacity: 0.9;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 34px;
    font-size: 17px;
    cursor: pointer;
  }
  
  .button:hover{
    opacity: 1;
  }
  
  .btn_signin{
    background-color: var(--primaryColor);
    color: white;
    margin-right: 7px;
  }
  
  
  .btn_login{
    background-color: white;
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    
  }

.presentation{
    margin-bottom: 100px;
}  

.presentaions_main{
    display: flex;
}


.presentation > p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;

}

.presentation .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

}

.presentation .container:not(:nth-child(2)) {
    padding-top: 150px;

}
.presentation .container img {
    height: 180px;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.presentation .container img:hover {
    transform: scale(1.05);
}

.presentation .container p {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
}
.container p:nth-child(3) {
    text-align: center;
    padding: 0px 100px;
    color: rgb(78, 78, 78);
    font-weight: normal;
  
}
.presentation .container  span {
    color: var(--secondColor);
    font-size: 35px;
}


/* -------------------------------Block2--------------------------------------------- */

.block2{
    padding: 0 70px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


.input_container {
    display: flex;
    flex-direction: column;
    
}

.input_container p {
    color: black;
    font-size: 20px;
    /* font-weight: bold; */
    align-self: center;
}


.input_container input{
    border:none;
    outline: none;
    height: 45px;
    width: 300px;
    padding-left: 25px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 3px 6px rgb(204, 204, 204);

}

.input_container div {
    margin: 0 auto;
}

.input_container button{
    background: var(--primaryColor);
    border: none;
    cursor: pointer;
    color: white;
    width: fit-content;
    height: 48px;
    border-radius: 7px;
    padding: 7px 30px;
    font-size: 17px;
    margin-left: 25px;
    

}



/* -----------------------------------------InformationsCadre----------------------------------------- */


.cadre_container{
    min-height: 100px;
    width: 90%;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    margin: 10px 0px;
    background: linear-gradient(to left,rgba(33, 192, 197, 0) 20% ,rgba(221, 221, 221, 0.08) 80%);
    padding: 10px 15px;
    opacity: 0.8;
    transition: transform 150ms ease-in;
    box-shadow: -2px 5px 6px lightgray;
    border-left: 3px solid var(--primaryColor);
    
}


.cadre_container:nth-child(2n){
    align-self: flex-end;
}


.cadre_title{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cadre_text{
    margin-left: 25px;
}

