.input_container{
    display: flex;
    background-color: white;
    height: 38px;  
    border: 2px solid lightgray;
    border-radius: 7px;
    box-sizing: border-box;
    transition: border 300ms ease-out;
}


.input_name_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 66px;
    max-width: 175px;
    border-radius: 6px;
    background-color: #EEE8E8;
}


.input_name_container p {
    padding: 0px 5px;
    font-weight: bold;
    color: var(--thirdColor);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.input{
    flex: 7;
    outline: none;
    border: none;
    width: 176px ;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 0px 7px ;
    font-size: 17px;
    font-weight: bold;
}



.focus{
    border-color:rgb(253, 85, 110,0.6);
}