.container{

} 

.container h2{
    margin-top: 0;
}

.info p{
    font-weight: bold;
    margin-left: 15px;
  
}

.info button{
    display: block;
    background-color: white;
    border: none;
    color: var(--secondColor);
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.info span {
   font-weight: normal;
}


.select {
    display: flex;
    width: fit-content;
    margin: 0 auto;

}

.select > *{
    margin-left: 5px;

}

.control{
    margin: 80px auto 20px auto;
    width: fit-content;
}

.control button{
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 250ms ease-in;
}

.control button:hover{
    transform: translateY(-2px);
}